

.cabecalho{

   text-align: center;
   background-color: #1B1D2D;
   color: white;
   padding: 0px;
   margin: 0px;
   align-items: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 

}

div.email {
    margin-top: -25px;
}

div.redeSocial {
    margin-top: -25px;

}


.email span.material-symbols-outlined{
    margin-left: 70px;
}
.email span.material-symbols-outlined, h3{
    display: inline-block;
    margin-right: 5px;
   
}



.telefone span.material-symbols-outlined, h3{
    display: inline-block;
    margin-right: 5px;
    
   
}



.redeSocial span.material-symbols-outlined, h3{
    display: inline-block;
    margin-right: 5px;
   
   
}

.emprego {
    margin-top: -20px;
}




    .corpo{
        margin-left: 75px;
    } 


.sobreMim h1{
    background-color: #949494;
    margin-right: 88%;
   
}

.experiencia h2{
    margin-left: 10px;
}

.educacao h2,h3{
    margin-left: 10px;
}

.habilidades p{
    margin-left: 10px;
}

.sobreMim p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.experiencia h1{
    background-color: #949494;
    margin-right: 87%;
}

.educacao h1{
    background-color: #949494;
    margin-right: 88%;
    
    
}

.educacao h3 {
   
    margin-top: -35px;
    
}


.habilidades h1{
    background-color: #949494;
    margin-right: 85%;
    
}

.habilidades p {
   margin-top: -15px;
}

.linhaVertical{

    border-left: 3px solid ;
    color: #3f3f3f;
    
    

}

