/* style.css */

/* Estilos para a tabela */
#itemTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#itemTable th, #itemTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#itemTable th {
    background-color: #f2f2f2;
}

#itemTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#itemTable tr:hover {
    background-color: #ddd;
}
