/* style.css */

 

/* Estilos para a tabela */

#itemTable {

    border-collapse: collapse;

    width: 70%;

    margin-top: 300px;

    margin-left: 350px;

}

 

#itemTable th, #itemTable td {

    border: 0.5px solid rgb(130, 19, 221);

    padding: 10px;

    text-align: center;

    border-radius:3px; 

}

 

#itemTable th {

    background-color: #95a5a6;

}

 

#itemTable tr:nth-child(even) {

    background-color: #2ea7cc;

}

 

#itemTable tr:hover {

    background-color: rgb(172, 120, 214);

}

 

#itemTable tr{

    background-color: #95a5a6;

}

 

#itemTable thead tr th {

    color: rgb(255, 255, 255);

    font-size: 30px;

    font-style: italic;

}

 

body {

    background-color: rgb(132, 180, 235);

}